

.sub-nav p{
    margin-bottom: 0;
}

.sub-topbox{


    .sub-nav{
        background-color: rgb(55, 3, 3);
        background-image: url("img/home.png");
        background-repeat: no-repeat;
    
        padding-left: 21px;

        .home{
            color: white;
            margin-bottom: 0;

        }
        margin-bottom: 0;
    }
    .title-box
    {
        padding-bottom: 300px;
        background-repeat: no-repeat;
        background-image: url("img/chicken_soup.jpg");

        margin:0 auto;
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-family: 微软雅黑;

        .left-word{
        }

        .mid-word{
            display: flex;
        }

        .right-word{
        }
    }
}

.menu-box{
    min-height: 1000px;
    background-color: #f4f4f4;

    .specil-dish{
        border: 5px solid rgb(255, 166, 166);
        min-height: 50px;
        display: flex;

        .dish-img blockquote{
            position: absolute;
            float: left;
            rotate: -45deg;
            color: red;
            font-size: 50px;
            font-family: 微软雅黑;
            font-weight: 800;
            left:  -80px;
            top: 650px;

        }

        .desc{
            margin-top: 0;
            margin-left: 10px;
        }

        .desc h2{
            margin-top: 0;
        }

    }

    .top-line{
        height: 50px;
        /* background-image: url("img/red_string.png"); */
    }
}